
.App{
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.quote-box{
  
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote-box-container{
  width: 500px;
  padding: 25px;
  background: #fff;
}

.quote-box-container div:nth-child(1){
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.quote-box-container div i{
  font-size: 2.5em;
}

.quote-box div:nth-child(2){
  text-align: right;
}
